* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

html {
    font-size: $font-size;
}

.container {
    max-width: 1110px;
    padding: 0 $gap;
    margin: 0 auto;
}

.bg-grey {
    background-color: $light-grey;
}

.bg-blue {
    background-color: $blue;
}