* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    font-size: var(--font-size);
}

.container {
    max-width: 1110px;
    padding: 0 var(--gap);
    margin: 0 auto;
}

.bg-grey {
    background-color: var(--light-grey);
}

.bg-blue {
    background-color: var(--blue);
}