footer {
    padding: 50px;
    background-color: var(--black);
}

footer p:first-child {
    font-size: 21px;
    font-weight: var(--font-weight-big);
    line-height: 25px;
    color: var(--white);
    padding: 0 0 20px 0;
}

footer p:last-child {
    font-size: 13px;
    font-weight: var(--font-weight-small);
    line-height: 21px;
    color: var(--white);
    padding: 0;
}
