footer {
    padding: 50px;
    background-color: $black;
}

footer p:first-child {
    font-size: 21px;
    font-weight: $font-weight-big;
    line-height: 25px;
    color: $white;
    padding: 0 0 20px 0;
}

footer p:last-child {
    font-size: 13px;
    font-weight: $font-weight-small;
    line-height: 21px;
    color: $white;
    padding: 0;
}
