header {
    padding: 80px 0;
}

ul {
    list-style: none;
    display: flex;
    gap: var(--gap);
}

.nav-mobile {
    display: none;
}

header ul li:hover {
    color: var(--blue);
    cursor: pointer;
    transition: 0.3s;
}
