$breakpoints: (
  mobile: 599px,
  tablet: 1023px,
  desk: 1024px
);

@mixin responsive($device) {
  @if $device == mobile {
    @media (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  } @else if $device == desk {
    @media (min-width: 600px) {
      @content;
    }
  }

}

html {
  font-size: $font-size;
  @include responsive(mobile) {
    font-size: $font-size-mob;
  }
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  @include responsive(mobile) {
    max-width: 90%;
    padding: 0 5px;
  }
}

header {
  padding: 40px 0;
  @include responsive(mobile) {
    padding: 20px 0;
  }
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  @include responsive(mobile) {
    display: block;
    gap: $gap;
    padding-top: 10px;
    margin-left: 0;
  }
}

li {
  @include responsive(mobile) {
    padding: 5px;
    display: block;
  }
}

.checkbtn {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#check {
  display: none;
  &:checked ~ .checkbtn i {
    transform: rotate(180deg);
  }
  &:checked ~ .nav-mobile-list {
    display: block;
  }
}

.fa-bars {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.nav-mobile-list {
  display: none;
  font-size: 20px;
  transition: all 0.3s ease;
}

.nav-desk {
  display: none;
  @include responsive(desk) {
    display: block;
  }
}

.nav-mobile {
  @include responsive(mobile) {
    display: block;
  }
}

.main-section {
  padding-top: 50px;
  padding-bottom: 80px;
  @include responsive(mobile) {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

h1 {
  font-size: 28px;
  line-height: 48px;
  @include responsive(mobile) {
    font-size: 22px;
    line-height: 24px;
  }
}

p {
  font-size: 14px;
  line-height: 18px;
  max-width: 540px;
  padding: 30px 0 35px;
  @include responsive(mobile) {
    font-size: 10px;
    line-height: 18px;
    padding: 15px 0 20px;
  }
}

.button {
  padding: 17px 38px 18px;
  line-height: 20px;
  font-size: 14px;
  @include responsive(mobile) {
    padding: 12px 28px 14px;
    line-height: 10px;
    font-size: 10px;
  }
}

.second-section, .fourth-section {
  padding: 80px 10px 80px;
  @include responsive(mobile) {
    padding: 40px 5px 40px;
  }
}

.third-section {
  padding: 80px 0;
  @include responsive(mobile) {
    padding: 40px 0;
  }
  ul {
    gap: 35px;
    @include responsive(mobile) {
      gap: 20px;
    }
  }
}

h2 {
  font-size: 28px;
  font-weight: $font-weight-big;
  line-height: 32px;
  @include responsive(mobile) {
    font-size: 16px;
    font-weight: $font-weight-small;
    line-height: 18px;
  }
}

iframe {
  margin-top: 40px;
  @include responsive(mobile) {
    margin-top: 20px;
  }
}

footer {
  padding: 40px;
  @include responsive(mobile) {
    padding: 20px;
  }
  p:first-child {
    font-size: 18px;
    font-weight: $font-weight-big;
    line-height: 20px;
    padding: 0 0 10px 0;
    @include responsive(mobile) {
      font-size: 14px;
      font-weight: $font-weight-small;
      line-height: 10px;
      padding: 0 0 5px 0;
    }
  }
  p:last-child {
    font-size: 13px;
    font-weight: $font-weight-small;
    line-height: 18px;
    @include responsive(mobile) {
      font-size: 10px;
      line-height: 20px;
    }
  }
}
