.second-section {
    padding: 112px var(--gap) 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.second-section p {
    padding-bottom: 0;
    text-align: center;
}

